# ai
transformers
torch
langchain
langchain-huggingface

# website parseing
feedparser
newspaper4k
lxml_html_clean # unsafe but required for newspaper4k

# random crap
sqlalchemy
psycopg2-binary
click

# lemmy interaction
pythorhead