# ai
transformers
torch
langchain
langchain-huggingface

# website parseing/scraping
feedparser
newspaper4k
lxml_html_clean # unsafe but required for newspaper4k
playwright

# random crap
sqlalchemy
psycopg2-binary
click

# lemmy interaction
pythorhead